/* globals.css: D:\PHW\NextJS-project\e-commerce-client\src\app\globals.css */
@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #1a73e8;
  --accent: #00c4ff;
  --soft-accent: #b9f3ff;
  --primary-neutral: #39424e;
  --light-neutral: #f5f7fa;
  --soft-gray: #e2e6ea;
  --carbon-gray: #202124;
  --gold-tint: #f5c16c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.poppins {
  font-family: var(--font-poppins);
}

.inter {
  font-family: var(--font-inter);
}

.bg-primary-gradient {
  background: linear-gradient(135deg, var(--primary), var(--accent));
}

.bg-soft-gradient {
  background: linear-gradient(135deg, var(--soft-accent), var(--accent));
}

.text-primary-gradient {
  background: linear-gradient(135deg, var(--primary), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-soft-gradient {
  background: linear-gradient(135deg, var(--accent), var(--soft-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
