@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: #facc15;
  --yellow-dark: #d97706;
  --shade: #f59e0b;
  --red: #ef4444;
  --pink: #ec4899;
  --violate: #8b5cf6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-prime {
  background: var(--yellow);
}

.bg-second {
  background: var(--yellow-dark);
}

.bg-gradian {
  background: linear-gradient(135deg, #facc15, #f59e0b, #d97706);
}

.text-prime {
  color: var(--yellow);
}

.text-second {
  color: var(--yellow-dark);
}

.text-gradient {
  background: linear-gradient(135deg, #facc15, #f59e0b, #d97706);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient2 {
  background: linear-gradient(135deg, #ef4444, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
